# Rust-specific files
/target/
Cargo.lock

# Built documentation
/doc/

# Backup files
*.bak
*.tmp
*.swp

# IDE and Editor specific files
.idea/
*.iml
*.sublime-project
*.sublime-workspace
*.vscode/
*.code-workspace

# Rust binary files
*.rs.bk

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.log
